<h4> Limit your search </h4>

<div class="accordion" id="facets">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#format_facet">
        Format
      </a>
    </div>
    <div id="format_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li>
            <a href="#" class="">Archival Item</a> <span class="count">(26927)</span>
          </li>
          <li>
              <a href="#" class="">Book</a> <span class="count">(6147)</span>              
          </li>
          <li>
              <a href="#" class="">Audio</a> <span class="count">(3768)</span>              
          </li>
          <li>
              <a href="#" class="">Video</a> <span class="count">(820)</span>              
          </li>
          <li>
              <a href="#" class="">Theses/Dissertations</a> <span class="count">(472)</span>              
          </li>
          <li>
              <a href="#" class="">Periodical</a> <span class="count">(419)</span>              
          </li>
          <li>
              <a href="#" class="">Score</a> <span class="count">(359)</span>              
          </li>
          <li>
              <a href="#" class="">Archival Collection</a> <span class="count">(335)</span>              
          </li>
          <li>
              <a href="#" class="">Website</a> <span class="count">(75)</span>              
          </li>
          <li>
              <a href="#" class="">CD/DVD-ROM</a> <span class="count">(1)</span>              
          </li>
          <li>
              <a href="#" class="">Image</a> <span class="count">(1)</span>              
          </li>
          <li>
              <a href="#" class="">Map</a> <span class="count">(1)</span>              
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#colletion_facet">
        Collection Name
      </a>
    </div>
    <div id="colletion_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li>
              <a href="#" class="">Herb Staehr Collection</a> <span class="count">(3585)</span>              
          </li>
          <li>
              <a href="#" class="">Art Collins Papers</a> <span class="count">(1906)</span>              
          </li>
          <li>
              <a href="#" class="">Photograph File (Rock and Roll Hall of Fame and Museum Records--Curatorial Division)</a> <span class="count">(1534)</span>              
          </li>
          <li>
              <a href="#" class="">Mo Ostin Collection</a> <span class="count">(1450)</span>              
          </li>
          <li>
              <a href="#" class="">Michael Ochs Collection</a> <span class="count">(1426)</span>              
          </li>
          <li>
              <a href="#" class="">Jeff Gold Collection</a> <span class="count">(1187)</span>              
          </li>
          <li>
              <a href="#" class="">John Platt Collection</a> <span class="count">(1183)</span>              
          </li>
          <li>
              <a href="#" class="">Bomp! Records Collection</a> <span class="count">(1109)</span>              
          </li>
          <li>
              <a href="#" class="">Rolling Stone Records</a> <span class="count">(916)</span>              
          </li>
          <li>
              <a href="#" class="">Sire Records Collection</a> <span class="count">(887)</span>              
          </li>
          <li class="more_facets_link"><a href="#" class="more_facets_link">more »</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#material_facet">
        Archival Material
      </a>
    </div>
    <div id="material_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#name_facet">
        Name
      </a>
    </div>
    <div id="name_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#subject_facet">
        Subject
      </a>
    </div>
    <div id="subject_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#genre_facet">
        Genre
      </a>
    </div>
    <div id="genre_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#series_facet">
        Event/Series
      </a>
    </div>
    <div id="series_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#pub_facet">
        Publication Year
      </a>
    </div>
    <div id="pub_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facets" href="#language_facet">
        Language
      </a>
    </div>
    <div id="language_facet" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>