<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "logo.png", :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <h1 class="navbar-text navbar-title">Rock and Roll Hall of Fame Library + Archives</h1>
    </div>
  </div>
</div>