<%- 
  # Another instance of the navbar used for moving around and doing things within an individual record
  # or finding aid.
-%>

<div class="row-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid pull-left">
        <ul class="nav">
          <li><a href="#" class="nav"><i class="icon-print"></i> Print</a></li>
          <li><a href="#" class="nav"><i class="icon-envelope"></i> Email</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share"></i> Export <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">to Refworks</a></li>
              <li><a href="#">to Endnote</a></li>
              <li><a href="#">to citation</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="container-fluid pull-right">
        <ul class="nav">
          <li><a href="#" class="nav"><i class="icon-share-alt"></i> Back to search results</a></li>
          <li><a href="#" class="nav"><i class="icon-arrow-left"></i> Previous</a></li>
          <li class="navbar-text">1 of 356</li>
          <li><a href="#" class="nav">Next <i class="icon-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>