<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= next_frame "archival_item_digitized" %>
  <%= previous_frame "archival_series_digital" %>
</div>

<div class="container-fluid" id="main">

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">EAD Item</h4>
  <p>
    Standard display page for any item-level component in a collection that has <b>not</b> been
    digtized, and exists only as an item-level record in a finding aid.
  </p>
</div>

<div class="row-fluid">

  <%= render :partial => "/catalog/partials/record_controls" %>

  <div class="row-fluid">

    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
        <li><a href="#subjects" data-toggle="tab">Subjects</a></li>
        <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
      </ul>
    </div>
    
    <div class="span9">
      <ul class="breadcrumb">
        <li><a href="#">Herb Staehr Collection</a> <span class="divider">/</span></li>
        <li><a href="#">Series I: Papers, circa 1970s-2007, undated</a><span class="divider">/</span></li>
        <li class="active">Ten Years After Now tour, 2007</li>
      </ul>

      <h4>Ten Years After Now tour, 2007</h4>
      <dl class="dl-horizontal">
        <dt>Language:</dt>
        <dd>Some of the materials in this file are in Dutch, German and Italian.</dd>
        <dt>Location:</dt>
        <dd>Box: 2, Folder: 12 (Text)</dd>
      </dl>
    </div>
  
  </div>

</div>
</div>