<div class="hidden">
  <%= next_frame "archival_series_3" %>
  <%= previous_frame "archival_series_1" %>
</div>

<%= render :partial => "/catalog/partials/record_controls" %>

<div class="col-sm-4 col-md-3 col-lg-2">
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
    <li><a href="#subjects" data-toggle="tab">Find More</a></li>
    <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
  </ul>
</div>
  
<div class="col-sm-8 col-md-9 col-lg-10">
      
  <ul class="breadcrumb">
    <li><a href="#">Jeff Gold Collection</a></li>
    <li class="active">Series VII: Audiovisual Materials [RESTRICTED]</li>
  </ul>

  <h4>Series VII: Audiovisual Materials [RESTRICTED], circa 1970s-2007, undated</h4>
  <dl class="dl-horizontal">
    <dt>Scope and Content:</dt>
    <dd>
      Series VII: Audiovisual Materials contains both audio recordings and video tapes that date from the years 1967-2001. These materials are arranged by audio or video format, and then alphabetically by artist name or event title.
    </dd>
    <dt>Access Restrictions:</dt>
    <dd>The condition of some of these materials has not yet been determined for playback purposes. Some of the audiovisual materials in the collection are on defunct media formats and, therefore, are RESTRICTED. Access copies of these materials may have to be created prior to use. Consult the Library and Archives staff in advance of your visit to ensure access to these materials is available.</dd>
  </dl>
 
  <table class="table table-condensed table-striped table-hover" id="inventory_table"><tbody>
    <tr><th>Item</th><th>Materials</th></tr>
    <tr><td><a href="#">Subseries 1: Audio [RESTRICTED], 1966-2001, undated</a></td><td></td></tr>
    <tr><td><a href="#">Subseries 2: Video [RESTRICTED], 1971-2001, undated</a></td><td></td></tr>
  </tbody></table>
</div>
