<div class="hidden">
  <%= next_frame "image" %>
  <%= previous_frame "archival_item_digitized" %>
</div>

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">EAD Item</h4>
  <p>
    Standard display page for any item-level component in a collection that has <b>not</b> been
    digtized, and exists only as an item-level record in a finding aid.
  </p>
</div>

<%= render :partial => "/catalog/partials/record_controls" %>

<div class="col-sm-4 col-md-3 col-lg-2">
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
    <li><a href="#subjects" data-toggle="tab">Find More</a></li>
    <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
  </ul>
</div>

<div class="col-sm-8 col-md-9 col-lg-10">

  <ul class="breadcrumb">
    <li><a href="#">Herb Staehr Collection</a></li>
    <li><a href="#">Series I: Papers</a></li>
    <li class="active">Ten Years After Now tour</li>
  </ul>

  <h4>Series I: Papers, circa 1970s-2007, undated</h4>
  <dl class="dl-horizontal">
    <dt>Scope and Content:</dt>
    <dd>
      Series I: Papers, which spans circa 1970s to 2007 and includes some undated material, is arranged
      alphabetically by subject. It mainly consists of Staehr’s correspondence and drafts of his book, Alvin Lee and
      Ten Years After: A Visual History. Clippings come primarily from, but are not limited to, the Dutch music
      magazine Muziek Express and contain photographs and some music reviews. The video and audio inventories listed
      at the end of the series likely correspond to the audiovisuals in the collection.  
    </dd>
  </dl>

  <div class="child-component">
    <h4>Ten Years After Now tour, 2007</h4>
    <dl class="dl-horizontal">
      <dt>Language:</dt>
      <dd>Some of the materials in this file are in Dutch, German and Italian.</dd>
      <dt>Location:</dt>
      <dd>Box: 2, Folder: 12</dd>
      <dt>Archival Material:</dt>
      <dd><%= link_to "Text" %></dd>
    </dl>
  </div>

</div>
