<div class="hidden">
  <%= next_frame "archival_series_mixed" %>
  <%= previous_frame "archival_series_3" %>
</div>

<%= render :partial => "/catalog/partials/record_controls" %>

<div class="col-sm-4 col-md-3 col-lg-2">
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
    <li><a href="#subjects" data-toggle="tab">Find More</a></li>
    <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
  </ul>
</div>
    
<div class="col-sm-8 col-md-9 col-lg-10">
      
  <ul class="breadcrumb">
    <li><a href="#">Jeff Gold Collection</a></li>
    <li><a href="#">Series VII: Audiovisual Materials [RESTRICTED]</a></li>
    <li><a href="#">Subseries 2: Video [RESTRICTED]</a></li>
    <li class="active">The Concert for the Rock and Roll Hall of Fame (VHS videocassette)</li>
  </ul>

  <h4>Subseries 2: Video [RESTRICTED], 1971-2001, undated</h4>
  <dl class="dl-horizontal">
    <dt>Scope and Content:</dt>
    <dd>
      The videos found here are primarily VHS, and contain either television appearances or promotional content, including in-store events and concerts. There is also 8mm and 16mm film and H-8.
    </dd>
    <dt>Access Restrictions:</dt>
    <dd>
      The condition of these materials has not yet been determined for playback purposes. Access copies of these materials may have to be created prior to use. Consult the Library and Archives staff in advance of your visit to ensure access to these materials is available.
    </dd>
  </dl>

  <h4>The Concert for the Rock and Roll Hall of Fame (VHS videocassette), 1996 September 6</h4>
  <dl class="dl-horizontal">
    <dt>Location:</dt>
    <dd>Box: AV3, Cassette: 23</dd>
    <dt>Archival Material:</dt>
    <dd><a href="#">Moving Images</a></dd>
  </dl>
 
</div>
