<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= link_to "next", "/catalog/archival_item", {:id => "next-wireframe"} %>
  <%= link_to "previous", "/catalog/book", {:id => "previous-wireframe"} %>
</div>

<div class="container-fluid">
<div class="row-fluid">
  
  <div class="well span4">
    <%= render :partial => "catalog/partials/facets.html.erb" %>
  </div>

  <div class="well">
    finding aid display
  </div>


</div>
</div>