<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= link_to "next", "/catalog/archival_item", {:id => "next-wireframe"} %>
  <%= link_to "previous", "/catalog/book", {:id => "previous-wireframe"} %>
</div>

<div class="container-fluid" id="main">
<div class="row-fluid">

  <%= render :partial => "/catalog/partials/record_controls" %>



</div>
</div>