<div class="hidden">
  <%= next_frame "video" %>
  <%= previous_frame "archival_item_digitized" %>
</div>

<%= render :partial => "/catalog/partials/record_controls" %>

<div class="col-sm-4 col-md-3 col-lg-2">
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
    <li><a href="#subjects" data-toggle="tab">Find More</a></li>
    <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
  </ul>
</div>

<div class="col-sm-8 col-md-9 col-lg-10">
      
  <ul class="breadcrumb">
    <li><a href="#">Herb Staehr Collection</a></li>
    <li><a href="#">Series I: Papers</a></li>
    <li class="active">Bootleg discographies, Blind Faith and Cream</li>
  </ul>

  <div class="row">

    <div class="col-md-5 col-md-push-7 col-lg-6 col-lg-push-6">
      <div class="well">
        viewing interface goes here for image, pdf, a/v, etc.
        <%= ("<br/>"*20).html_safe %>
      </div>
    </div>

    <div class="col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-6">

      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
          This is the record from Hydra, but the problem is that there are now
          two records for this one item: one from the ead item, and another from
          Hydra.
          <b>Both this record and the one previous will appear in search results!</b>
        </p>
      </div>

      <h4>Series I: Papers, circa 1970s-2007, undated</h4>
      <dl class="dl-horizontal">
        <dt>Scope and Content:</dt>
        <dd>
          Series I: Papers, which spans circa 1970s to 2007 and includes some undated material, is arranged
          alphabetically by subject. It mainly consists of Staehr’s correspondence and drafts of his book, Alvin Lee and
          Ten Years After: A Visual History. Clippings come primarily from, but are not limited to, the Dutch music
          magazine Muziek Express and contain photographs and some music reviews. The video and audio inventories listed
          at the end of the series likely correspond to the audiovisuals in the collection.  
        </dd>
      </dl>

      <div class="child-component">
        <h4>Bootleg discographies, Blind Faith and Cream</h4>
        <dl class="dl-horizontal">
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>
            hydra metadata<br/>
            hydra metadata<br/>
            hydra metadata<br/>
            hydra metadata<br/>
            hydra metadata<br/>
            hydra metadata<br/>
          </dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
          <dt>Hydra field:</dt>
          <dd>hydra metadata</dd>
        </dl>
      </div>
    
    </div>
        
  </div>

</div>
