$navbarBackground: #1f0101;
$navbarBackgroundHighlight: #590000;
$navbarHeight: 40px;
$linkColor: #ac1313;
$linkColorHover: #7d0e0e;
$navbarText: #ffffff;
$navbarLinkColor: #ffffff;
$navbarLinkColorHover: #cccccc;
$navbarLinkBackgroundHover: #590000;

@import "bootstrap";
@import "bootstrap-responsive";

.navbar-top {
  background-color: #cccccc;
  background-image: image-url("navbar_swatch.png");
  border-bottom-color: $navbarBackground;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navbar-title {
  color: white;
  font-size: 40px;
  line-height: 40px;
  padding: 12px 0px 12px 0px;
}

.carousel-inner {
  background: #bbb;
}

.inline {
  display: inline;
}
